/* ====== GENERAL STYLE ====== */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f7fb;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 2px;
  color: #4b7bec;
}

/* ====== NAVBAR ====== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #a7daaf;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4b7bec;
}

.navbar nav a {
  margin-left: 25px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: #4b7bec;
}

/* ====== HERO SECTION ====== */
.search-box {
}
