/* ====== GENERAL STYLE ====== */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f7fb;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3 {
  margin: 0 0 10px 0;
  color: #4b7bec;
  text-align: center;
}

/* ====== NAVBAR ====== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #a7daaf;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4b7bec;
}

.navbar nav a {
  margin-left: 25px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: #4b7bec;
}

/* ====== HERO SECTION ====== */
.hero {
  min-height: 30vh; /* dikurangi tinggi navbar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  background: #f5f7fa;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 25px;
  max-width: 600px;
}

.search-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.search-box input {
  padding: 14px;
  width: 320px;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.search-box button {
  padding: 14px 22px;
  border-radius: 8px;
  border: none;
  background: #4b7bec;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #3867d6;
}
.kos-img {
  width: 50%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* tengah horizontal */
  text-align: center; /* teks ikut tengah */
}
.kos-img {
  display: block;
  margin: 0 auto;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form {
  max-width: 500px;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea,
button {
  padding: 10px;
}
